body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

header {
    background-color: #38b6ff;
    max-height: 100%;
}

#img-logo {
    height: 80px;
}

#navBarMenu {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#home:hover,
#econ:hover,
#meio:hover,
#mundo:hover,
#curi:hover,
#cadastroHeader:hover,
#favoritoHeader:hover,
#loginHeader:hover {
    color: #ff914d !important;
}

#destaque,
#todosItens,
#alunoInfo,
#infoGeral,
.cadastroTitulo,
.favoritoTitulo,
.loginTitulo,
.listagemItens,
#graficoTitulo {
    max-width: 100%;
    border-bottom: 3px solid #ff914d;
}

/* texto */

h1 {
    text-align: center;
    color: #ff914d;
}

h2 {
    color: #38b6ff;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
}

h3 {
    font-size: 2rem;
    text-decoration: underline #636262;
    text-align: center;
    margin-top: 30px;
}

#todosNoticia h2 {
    margin-bottom: 20px;
}

#todosNoticia p {
    margin-bottom: 20px;
}

.tituloCarrossel {
    color: black;
    font-size: 30px;
    font-weight: 700;
}

.resumoCarrossel {
    color: black;
    font-weight: 500;
}

h4 {
    color: #636262;
    padding: 0 15px;
    font-size: 15pt;
}

h5 {
    text-align: center;
    padding: 0 15px;
    color: #38b6ff;
}

h6 {
    text-align: center;
    padding: 0 15px;
    color: #636262;
}

p {
    text-align: justify;
}

.limitar-texto {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
}

/* Fim texto */

#home,
#meio,
#curi,
#econ,
#mundo,
#cadastroHeader,
#favoritoHeader,
#loginHeader {
    color: white !important;
}

#rep1,
#rep2,
#rep3 {
    max-height: 500px;

}

#container {
    align-items: center;
}


#whats,
#insta {
    width: 30px;
}

#minhaFoto {
    width: 150px;
}

.imgTrocar {
    width: 500px;
}

.infoEstudante {
    display: flex;
    align-items: flex-start;
}

.dadosEstudante {
    flex-direction: column;
    justify-content: center;
}

.info {
    max-width: 100%;
    max-height: 90%;
    background-color: rgb(233, 236, 240);
}

.card-img-top {
    height: 200px;
}

.carousel-inner img {
    object-fit: cover;
    max-height: 600px;
    height: 100%;
}

a {
    text-decoration: none;
}

.imagem-banner {
    width: 800px;
}

.imagem-2 {
    width: 800px;
}

#carrossel.img-carrossel {
    height: 800px;
}

.reportagem-flex {
    display: flex;
    width: 100%;
}

.resumoCarrossel {
    text-align: center;
}

.espaco-vazio {
    flex: 1;
}

.reportagemCentro {
    flex: 1;
    text-align: center;
    ;
}

#redes-sociais {
    text-align: center;
}

/* Página de cadastro */

#idInput,
#idTitulo,
#idSubtitulo,
#idAutor,
#idData,
#idCategoria,
#idBanner,
#idCorpo {
    width: 100%;
    border-color: #ff914d;
    background-color: #dbf3ff;
    color: #ff914d;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    padding-left: 10px;
    width: 100%;
}

.botoesCRUD {
    text-align: end;
    margin-top: 30px;
}

#btnInserir,
#btnAlterar,
#btnExcluir {
    background-color: #dbf3ff;
    padding: 5px;
    color: #ff914d;
    border-radius: 5px;
    border-color: #ff914d;
    font-weight: 600;
    font-size: 20px;
    margin-right: 20px;
    width: 100px;
}

#btnInserir:hover,
#btnAlterar:hover,
#btnExcluir:hover {
    background-color: #38b6ff;
    color: #ffffff;
    border-radius: 5px;
    border-color: #ff914d;
}

td {
    text-align: center;
    padding: 5px;
    border: 1px solid black;
}


/* Fim cadastro */
/* de celulares à tablets */
@media (max-width: 991.98px) {
    #img-logo {
        text-align: center;
    }

    .card-img-top {
        height: 200px;
        width: 400px;
    }

    .esquerda {
        display: none !important;
    }

    .direita {
        display: none !important;
    }

    .centro {
        width: 100%;
    }

    .containerCRUD {
        overflow-x: hidden;
    }

    #home,
    #meio,
    #curi,
    #econ,
    #mundo,
    #cadastroHeader,
    #favoritoHeader {
        border-bottom: 2px solid black;
        color: black;
    }

    #navbarNavAltMarkup {
        text-align: center;
        background-color: gainsboro;
    }

    h3 {
        font-size: 20pt;
        margin-top: 20px;
        padding: 0 15px;
        text-decoration: underline #636262;
    }

    h4 {
        color: #636262;
        padding: 0 15px;
        font-size: 15pt;
    }

    h5 {
        text-align: start;
        padding: 0 15px;
        color: #38b6ff;
    }

    h6 {
        text-align: start;
        padding: 0 15px;
        color: #636262;
    }

    p {
        padding: 0 15px;
        text-align: justify;
    }

    .reportagem-flex {
        display: inline;
        width: 100%;
    }

    .espaco-vazio {
        display: none;
    }

}

@media (max-width: 600px) {
    h3 {
        font-size: 20pt;
        margin-top: 20px;
        padding: 0 15px;
        text-decoration: underline #636262;
    }

    h4 {
        color: #636262;
        padding: 0 15px;
        font-size: 15pt;
    }

    h5 {
        text-align: start;
        padding: 0 15px;
        color: #38b6ff;
    }

    h6 {
        text-align: start;
        padding: 0 15px;
        color: #636262;
    }

    #introducao {
        width: 100%;
        text-align: center;
    }

    p {
        padding: 0 15px;
        text-align: justify;
    }

    .imagem-banner {
        max-width: 100%;
    }

    .imagem-2 {
        max-width: 100%;
    }

    #info2 .infoEstudante {
        align-items: center;
    }

    #img-carrossel {
        min-height: 300px;
    }

    .esquerda {
        display: none !important;
    }

    .direita {
        display: none !important;
    }
    #apagar{
        display: none;
    }
}